@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1.7px;
  overflow-y: none;

}


:root {
  --roxobase: #844FBA;
  --roxoclaro: #C285FF;
  --roxoclaro2: #af62fc;
  --roxoescuro: #46246D;
  --roxohover: #7646a6;
  --redDestroy: #CD0032;
  --redDestroyHover: #9b0027;
  --fontColor: #46246D;
}


.bodyWS {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;

}

.ContainerWSgrid {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boxPropsWS {

  height: 80%;
  width: 20vw;
  background: var(--roxoclaro2);
  position: fixed;
  z-index: 3;
  left: 0;
  display: flex;
  /* border-radius: 20px; */

  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.containerH1H2 {
  width: 80%;

  color: white;

}

.containerH1H2 h1 {
  text-transform: uppercase;
}

.Ec2PlaceHolder {
  
  height: 7rem;
  width: 7rem;
  background: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 1px solid var(--roxoclaro);
  font-size: 1em;

}

.Ec2PlaceHolder div {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--roxoclaro);
}


.VpcPlaceHolder {
  height: 2rem;
  width: 4rem;
  background: #000;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-top: 1px solid var(--roxoclaro);
  border-left: 1px solid var(--roxoclaro);
  border-right: 1px solid var(--roxoclaro);
  font-size: 1em;
  cursor: pointer;


}

.vpcblock{
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background: #000; */
  border: 3px solid black;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20rem;
  min-width: 40rem;
  padding: 1rem;
  /* width: 15rem; */
}

.containerDrag {
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 80%;
  background: #fff;
}

.SquareGrid {
  height: 5.4rem;
  width: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.247);
}

.Grid {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;


}

.ContainerTitle {
  /* padding-top: 1rem; */
  /* position: fixed; */
  width: auto;
  height: 9vh;


  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  text-transform: capitalize;
}


.containerForms {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.listWS {

  height: 60vh;
  width: 70%;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.buttonEc2VPC {
  height: 47%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.GeneralContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BtnWK {
  width: 100%;
  height: 4rem;
  background: rgba(0, 0, 0, 0.40);
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.BtnWK:hover{
  box-shadow: 21px 15px 15px -3px rgba(0,0,0,0.3);
  transform: scale(1.01)
}

.MainWK {
  background: -o-linear-gradient(340.32deg, #46246D 6.82%, #844FBA 100%);
  background: linear-gradient(109.68deg, #46246D 6.82%, #844FBA 100%);
  /* transform: matrix(1, 1, 0, 1, 0, 0);; */
  /* height: 80vh; */
  /* max-height: none; */
  width: 100%;
  /* overflow-y: initial; */

  display: flex;

  justify-content: center;
  flex-direction: column;


  align-items: center;
  min-height: 80vh;
  min-width: 100vh;

}

.containerNameWK {
  display: flex;
  align-items: flex-start;
  height: 90%;
  width: 78%;
  margin-bottom: 1rem;
}

.containerManeger {
  height: 60vh;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;



}

.contWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 78%;
  height: 100%;
}

.subnet{
  /* margin-left: 1rem; */
  width: 100%;
  min-height: 95%;
padding: 1rem;
  border: 2px solid var(--roxoclaro) ;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.private{
  color:var(--roxoclaro);
}

.Subnetblock{
  height: 2rem;
  width: 6rem;
  background: var(--roxoclaro);
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 1em;
  cursor: pointer;

}

.entireSubnet{
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 98%;
  height: 90%;
}

.cadPrivate{
  height: 1rem;
  width: 1rem;
  /* filter: invert(86%) sepia(84%) saturate(2532%) hue-rotate(188deg) brightness(132%) contrast(99%); */
  filter: invert(20%) sepia(34%) saturate(1526%) hue-rotate(231deg) brightness(95%) contrast(105%);
}

.ContainerEc2Count{
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.ContainerEc2Count > *{
  grid-column: 1/1;
  grid-row: 1/1;
}

.ContainerEc2Count .top{
  margin-left: 3rem;
  margin-top: 3rem;
}
.ContainerEc2Count .top2{
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
