@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1.7px;
}


:root{
    --roxobase: #844FBA; 
    --roxoclaro: #C285FF; 
    --roxoclaro2: #af62fc; 
    --roxoescuro: #46246D; 
    --roxohover: #7646a6; 
    --redDestroy: #CD0032;
    --redDestroyHover: #9b0027;
    --fontColor: #46246D;
  }


.bodyWS{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContainerWSgrid{
    width: 100vw;
    height: 73vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxPropsWS{
    height: 100%;
    width: 20vw;
    background: var(--roxoclaro2);
    display: flex;
    border-radius: 20px;
    
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.containerH1H2{
    width: 80%;
    
    color: white;
    
}

.containerH1H2 h1 {
    text-transform: uppercase;
}

.Ec2PlaceHolder{
  height: 3rem;
  width: 3rem;
  background: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
 
}

.containerDrag{
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 80%;
  background: #fff;
}